# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
.next/
out/
build/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# Turbo
.turbo/

# Testing
coverage/
